body {
    background-image: url("https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=1380&t=st=1677207357~exp=1677207957~hmac=7a21e7038c115216133ba9891dbd19146ca91f8d851025b3d287150ccbe55c08");
}

p {
    font-style: italic;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2 ,h3, h4, h5, h6 {
    color: darkblue;
    font-family: cursive;
}

img {
    border-radius: 10%;
}